.main-side-filter-heading {
  z-index: 50;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
}

.cards {
  margin-bottom: 5rem;

  &-list {
    margin: 0 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
