.view-root--main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;

  .ne-layout-content-footer {
    height: auto;
    min-height: 100%;
  }

  .ne-layout-content-footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url('../../../assets/images/wave-alt.svg') no-repeat;
    background-position: 0 bottom;
    background-size: 100% auto;
    position: relative;
    min-height: auto;
  }

  .ne-layout-side-content-side {
    position: sticky;
    top: calc(3rem + 2px);
    left: 0;
    height: auto;
  }

  .nav-placeholder {
    margin: 1rem 0;
    height: 200px;
    width: auto;
    background-color: #23272d;
    border-radius: 4px;
  }

  .ne-layout-side-content-content {
    overflow: unset;
  }

  .main-side-filter {
    max-width: 1400px;
    width: 100%;

    &-heading {
      background-color: #25292F;
      padding: 0 1rem 0.5rem;
      position: sticky;
      top: calc(3rem + 2px + 4rem);
    }
  }
}

@media (min-width: 2240px) {
  .view-root--main .main-side-filter {
    max-width: 1920px;
  }
}

@media (min-width: 3840px) {
  .view-root--main .main-side-filter {
    max-width: 2200px;
  }
}
