.view-root--main {
  width: 100vw;
  height: 100vh;

  .ne-layout-top-content-footer-content {
    display: flex;
    justify-content: center;
    background: url('../../../assets/images/wave-alt.svg') no-repeat;
    background-position: 0 bottom;
    background-size: 100% auto;
    min-height: 150vh;
  }
}
