.cards-no-content {
  margin: 1rem;
  padding: 1.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  // background-color: #22262b;
  width: auto;
  border-radius: 14px;
  max-width: 10rem;
  height: 13rem;
  cursor: pointer;
  border: 2px dashed #343a43;
  transition: all 0.2s;

  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 25rem;
    width: 100%;
    color: #267ce0;
  }

  &-heading {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: lighten(#54626d, 20);
  }

  &-icon {
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    color: lighten(#54626d, 20);
  }

  &-text {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    .ne-typo-text {
      font-size: inherit;
      padding: 0;
    }
  }

  &:hover,
  &:focus {
    border: 2px solid #343a43;
    background-color: #343a43;
  }

  &:hover &-icon,
  &:focus &-icon,
  &:hover &-heading,
  &:focus &-heading {
    color: #5ea8ed;
  }
}