.side-nav {
  margin: 0 0 1rem 0;
  width: 100%;
  border-radius: 4px;

  &-items {
    padding: 0;
    margin: 0;

    .spacer {
      height: 2rem;
    }

    .ne-nav-item--active .ne-nav-item-content {
      background-color: #202328;
    }

    .ne-nav-item-content {
      margin: 0.05rem 0;
      height: auto;
      &-wrapper {
        padding: 0.6rem 0 0.6rem 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .side-nav {
    margin: 1rem 0;
  }

  .side-nav-items .ne-nav-item-content-wrapper {
    padding: 0.6rem 0 0.6rem 0.5rem;
  }
}
