.top-bar {
  &-badge-wrapper {
    position: relative;

    .ne-context-menu {
      &.context-menu--hidden {
        transition: all 0.1s ease;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-0.5rem);
      }

      &:not(.context-menu--hidden) {
        transition: all 0.33s ease;
        opacity: 1;
        pointer-events: auto;
      }

      position: absolute;
      right: 0.6rem;
      top: calc(100% - 0.4rem);
      max-width: calc(100vh - 1.2rem);
      width: 12rem;

      &-wrapper {
        width: 100%;
        max-width: unset;

        .top-bar-avatar-no-avatar {
          svg {
            font-size: var(--fs-1100);
          }
        }

        .ne-context-menu-list {
          padding: 0.2rem 0;
          border-radius: 0;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        .ne-context-menu-item:first-child {
          border-radius: 0;
        }
      }
    }
  }
}
