@use '@/styles/themes/functions' as cf;
@use '@/styles/base/breakpoints' as *;

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.01rem, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(0.01rem, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-0.04rem, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(0.04rem, 0, 0);
  }
}

.user-card {
  position: relative;
  height: 16rem;
  color: var(--clr-basic-200);
  border-radius: 0.6rem;
  box-shadow: 0 0 5px 0 transparentize(#000, 0.95);
  word-wrap: break-word;
  background-color: var(--clr-primary-1000);
  display: block;

  > a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    z-index: 2;
    cursor: default;
    color: var(--clr-basic-200);
    border-radius: 0.6rem;

    &:focus {
      box-shadow: 0 0 0 0.1rem var(--clr-actions-500);
    }
  }

  figure {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;

    figcaption {
      z-index: 1;
      width: 100%;
    }
  }

  &-name {
    padding: 0.8rem;
    cursor: pointer;
    font-weight: 700;

    &-first {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }

    &-full {
      font-size: var(--fs-200);
    }

    > .ne-typo-text {
      padding-top: 0.5rem;
      display: block;
    }
  }

  &-context-menu {
    position: absolute;
    z-index: 60;
    visibility: hidden;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

    .ne-context-menu-list {
      padding: 0.2rem 0;
    }

    &--display {
      visibility: visible;
    }
  }

  &-status {
    cursor: default;

    &.ne-typo-text {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      flex-direction: row;
      font-size: inherit;
      font-size: var(--fs-200);
    }

    &-dot {
      margin-right: 0.2rem;
    }
  }

  &-star {
    color: var(--clr-star-300);
    font-size: var(--fs-500);
  }

  &-emblems {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-100);

    &-blocked {
      font-size: var(--fs-200);
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &-star {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--clr-star-300);
      margin-left: 0.3rem;
      cursor: pointer;
      min-width: 1.4rem;
      width: auto;
      height: 1.4rem;
      border-radius: 2rem;
      transition: all 0.1s;

      &:hover {
        background-color: var(--clr-star-0);
        border: 0.11rem solid var(--clr-star-300);

        > svg {
          animation: shake 0.76s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
          transform: translate3d(0, 0, 0);
          backface-visibility: hidden;
        }
      }

      &:active {
        transform: scale(1.1);
      }

      > svg {
        transition: all 0.2s ease-in-out;
        font-size: var(--fs-500);
      }
    }
  }

  &-message-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1rem;
    width: auto;
    height: 1.15rem;
    border-radius: 2rem;
    background-color: var(--clr-primary-700);
    border: 0.11rem solid var(--clr-primary-500);
    color: var(--clr-basic-300);
    font-size: inherit;
    padding: 0 0.4rem;

    > svg {
      font-size: var(--fs-100);
      margin-left: 0.1rem;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    &-details,
    & picture::before {
      transition: none;
    }
  }
}
