.contact-card {
  position: relative;
  height: 16rem;
  margin: 0.2rem;
  color: #ccc;
  background-color: #1c1f23;
  border-radius: 0.6rem;
  box-shadow: 0 0 5px 0 transparentize(#000, 0.95);
  word-wrap: break-word;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url(https://static.suchanecki.me/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &-name {
    padding: 0.8rem;
    z-index: 1;
  }

  &-details {
    z-index: 2;
    width: 100%;
    height: max-content;
    overflow: hidden;
    height: 0;
    min-height: 0;
    flex: 0 1 auto;
    background-color: transparentize(#202328, 0.1);
    padding: 0 0.8rem;
    // transform: translateY(100%);
    transition: all 0.1s;
  }

  &:hover &-details,
  &:focus-within &-details {
    padding: 0.8rem;
    height: auto;
  }

  &-description .ne-typo-text {
    color: #999;
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-more {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1 1 auto;
      margin-right: 0.5rem;

      &-item,
      &-item .ne-typo-text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #999;

        &:hover {
          color: unset;
        }
      }
    }
  }

  &-action {
    margin-left: 0.2rem;

    > .ne-button-item {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 1rem;
      }

      &[data-starred='true'] {
        color: #ffff86;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 0;
    transition: all 0.2s;
  }

  &:hover::before,
  &:focus-within::before {
    height: 100%;
  }
}
@media screen and (max-width: 190rem) {
  .contact-card {
    width: calc(14.285714286% - 0.4rem);
  }
}

@media screen and (max-width: 140rem) {
  .contact-card {
    width: calc(20% - 0.4rem);
  }
}

@media screen and (max-width: 130rem) {
  .contact-card {
    width: calc(25% - 0.4rem);
  }
}

@media screen and (max-width: 80rem) {
  .contact-card {
    width: calc(33% - 0.4rem);
  }
}

@media screen and (max-width: 60rem) {
  .contact-card {
    width: calc(50% - 0.4rem);
  }
}

@media (prefers-reduced-motion: reduce) {
  .contact-card {
    &-details,
    &::before {
      transition: none;
    }
  }
}
