@use '~@/styles/base/breakpoints' as *;

.image-change-footer {
  position: sticky;
  background-color: inherit;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.8rem;

  @include mq('small') {
    padding: 1.5rem 1.5rem;
  }
}

.image-change-cancel {
  cursor: pointer;
  outline-offset: 0.4rem;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--clr-basic-100);
  }

  &:focus {
    color: var(--clr-actions-100);
  }
}
