@use '@/styles/base/breakpoints' as *;

.setting-deletion-preview {
  margin-top: 0;
  margin: 0;

  &-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1.1rem;
    margin-top: 1rem;

    @include mq('small') {
      padding: 0;
    }

    .ne-typo-heading-level-4 {
      margin-bottom: -0.1rem;
    }

    .ne-typo-paragraph {
      text-align: justify;
    }

    .image-change-footer {
      background-color: inherit;
      width: 100%;
      padding: 0.5rem 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }

    .image-change-cancel {
      cursor: pointer;
      outline-offset: 0.4rem;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        color: var(--clr-basic-100);
      }

      &:focus {
        color: var(--clr-actions-100);
      }
    }
  }
}
