@use '@/styles/base/breakpoints' as *;

.setting-sessions-preview {
  margin-top: 0;
  margin: 0;

  &-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.1rem;
    gap: 0.5rem;
    margin-top: 1rem;

    @include mq('small') {
      padding: 0;
      margin-top: 1.5rem;
    }

    .ne-typo-heading-level-4 {
      margin-bottom: -0.1rem;
    }

    .ne-typo-paragraph {
      text-align: justify;
    }

    .image-change-footer {
      background-color: inherit;
      width: 100%;
      padding: 0.5rem 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 1rem;
    }
  }
}
