.view-root--me {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
  transform: translate3d(0);

  .ne-layout-content-footer {
    height: auto;
    min-height: 100%;
  }

  .ne-layout-content-footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url('../../assets/images/wave-alt.svg') no-repeat;
    background-position: left bottom;
    background-size: 100% auto;
    position: relative;
    height: 100%;
    min-height: auto;
  }

  .me-profile {
    &-content {
      width: 100%;
      max-width: calc(100% - 2rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
  }
}
