.view-root--me {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
  transform: translate3d(0);

  .ne-layout-content-footer {
    height: auto;
    min-height: 100%;
  }

  .me-profile {
    &-content {
      width: 100%;
      max-width: calc(100% - 2rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
  }
}

.modal-fullpage {
  opacity: 0;
  pointer-events: none;
  transition: opacity 5s;

  &.modal-visible {
    transition: opacity 1s;
    opacity: 1;
    pointer-events: auto;
  }
}
