.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

::-moz-focus-inner {
    border: 0;
}

.page-root {
  display:  flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}
