::-moz-focus-inner {
    border: 0;
}

.page-root {
  position: relative;
  display:  flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 3rem);
  transform: translate3d(0);
}

:root {
  font-size: 18px;
}

@media screen and (max-height: 700px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-height: 600px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 300px) {
  :root {
    font-size: 12px;
  }
}
