body {
  background: #25292F;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  transform: translate3d(0);
  font-family: "Roboto", "Helvetica Neue", -apple-system, BlinkMacSystemFont, Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: #202328;
}

::-webkit-scrollbar-thumb {
  background-color: #374553;
  border-radius: 1rem;
}

#app-root {
  min-height: 100vh;
}

#modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}
