@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

.form-register {
  &-box {
    flex: 0 0 auto;
    position: relative;
    margin: 0.8rem 0 1.2rem;
    padding: 0.4rem 0 0.5rem;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
    background-color: var(--clr-primary-600);

    &-heading {
      font-size: var(--fs-250);
      font-weight: 400;
      padding: 0.6rem 1rem 0.8rem 1rem;
      margin: 0;
    }

    &-input {
      background-color: var(--clr-primary-600);
      &:focus-within {
        background-color: var(--clr-primary-500);
      }

      .ne-input-control {
        padding: 0.6rem 0.8rem;
      }
    }

    &-entry {
      margin-bottom: 0.4rem;
    }

    &-appendix {
      padding: 0.5rem 1rem 0;
      font-size: var(--fs-200);
      width: 100%;
      display: block;
      line-height: 1.2rem;
    }

    &-requirements {
      list-style: none;
      padding: 0 1rem;
      margin: -0.2rem 0 0.5rem;
      > li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &-entry {
        position: relative;
        padding-left: 0.3rem;
        font-size: var(--fs-150);
        line-height: 0.75rem;
        color: var(--clr-basic-400);

        &::before {
          content: '- ';
        }

        &--header {
          padding-left: 0;
          &::before {
            content: '';
          }
        }
      }
    }
  }
}
