@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

.form-register {
  flex: 0 0 auto;
  height: auto;
  width: 100%;
  max-width: 30rem;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .ne-typo-heading-level-1 {
    color: #8cc0f2;
    font-family: 'Cantarell', sans-serif;
    font-size: 2.5rem;
    text-align: center;
  }

  .ne-typo-heading-level-5 {
    color: #dfdfdf;
  }

  &-footer {
    margin: 1rem 0 0;
  }

  .button-login {
    margin: 0.2rem 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .form-register {
    margin: 0 0 5rem;
    .ne-typo-heading-level-1 {
      font-size: 2.5rem;
      margin-top: 0;
    }
  }
}
