.form-register {
  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem 1rem 1rem;

    .ne-typo-heading-level-2 {
      margin: 0.5rem 0;
    }
  }
}
