.top-bar {
  width: 100%;
  min-height: 50px;
  background-color: #202328;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &-heading {
    font-size: 1.3rem;
    margin: 0 1rem 0 0.1rem;
    font-weight: 700;
    cursor: pointer;
    color: lighten(#5ea8ed, 5);

    .ne-typo {
      vertical-align: middle;
      font: inherit;
      color: inherit;
    }
  }
}