.main-search-bar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: sticky;
  top: 3rem;
  left: 0;
  z-index: 100;
  background-color: #25292f;

  .hidden {
    display: none;
  }

  &-action {
    height: 2.2rem;

    &-text {
      margin-left: 0.2rem;
    }

    &--compact {
      .ne-button-item {
        padding: 0;
        width: 2.2rem;
      }
    }

    .ne-button-item {
      > svg {
        font-size: 1.1rem;
      }
    }
  }

  &-input {
    height: 2.2rem;
    margin: 0 0.2rem;
  }
}
