.no-network {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  z-index: 9999;
  width: calc(100% - 2rem);
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.7rem;
  margin: 0;
  background-color: rgba(32, 35, 40, 1);
  color: #dcdcdc;
  font-size: 1.6rem;
  font-weight: 900;
  max-width: 30rem;
  border-radius: 5px;
  border: 2px solid transparent;
  transform: translateX(-50%);
  transition: opacity 0.3s, bottom 0.2s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

  &--hidden {
    opacity: 0;
    bottom: -4rem;
  }

  &-dialog {
    display: flex;
    justify-content: center;
    align-items: center;

    >.no-network-dialog-icon {
      font-size: inherit;
      color: #ff5f5f;
      margin-top: -0.2rem;
      margin-right: 0.8rem;
    }

    &-close.MuiSvgIcon-root {
      color: #d0d0d0;
      cursor: pointer;
      font-size: 1rem;
      margin-left: 0.5rem;

      &:hover {
        color: #fff;
      }
    }
  }
}