.common-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;

  &-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 0.2rem;

    svg {
      font-size: var(--fs-1100);
    }
  }

  &-page {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    flex: 0 0 1.5rem;

    &--focused {
      color: var(--clr-basic-100);
      border-radius: 50%;
      background-color: var(--clr-primary-300);
    }

    .ne-typo {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--fs-400);

      &:hover,
      &:focus {
        text-decoration: underline;
        color: var(--clr-actions-100);
      }
    }
  }
}
