.chat-bubble-list {
  padding: 0 0.8rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  .ne-bubble-content--sender {
    margin-right: 0;
  }

  &--no-avatar {
    .ne-bubble--recipient .ne-bubble-timestamp {
      margin-left: 0;
    }

    .ne-bubble--recipient .ne-bubble-content {
      margin-left: 0;
    }
  }

  .ne-bubble-avatar {
    margin-right: 0.3rem;
    flex: 0 0 auto;
  }
}
