.chat-compose {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1rem;
  background-color: var(--clr-primary-700);
  gap: 0.4rem;
  flex: 0 0 auto;
  height: 2.5rem;
  box-shadow: -0.5rem 0 0.5rem var(--clr-primary-900);
  z-index: 300;

  &-action--compact {
    width: 2.2rem;
    height: 2.2rem;
    flex: 0 0 2.2rem;
    padding: 0;

    .ne-button-item {
      border-radius: 50%;
      width: 100%;

      .MuiSvgIcon-root {
        font-size: 1.2rem;
      }
    }
  }

  .ne-input {
    height: 2.2rem;
    border-radius: 2rem;
  }

  .chat-attachment-button {
    padding: 0;
    overflow: hidden;
    position: relative;

    .ne-button-item {
      padding: 0;
      border: 0;

      &:hover {
        border: 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
    }

    span {
      display: block;
      padding: 0.6rem 0.2rem;
      width: 100%;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
