@use '~@/styles/base/breakpoints' as *;

.top-bar {
  &-avatar {
    cursor: pointer;
    height: 100%;
    margin: 0 1rem 0 0.4rem;

    @include mq('small') {
      margin: 0 1rem;
    }

    .ne-avatar-content--medium {
      width: 2.4rem;
      height: 2.4rem;
    }

    &-no-avatar {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color);

      > svg {
        font-size: var(--fs-700);
      }
    }

    &--empty img {
      visibility: hidden;
    }
  }
}
