@use '~@/styles/base/breakpoints' as *;

.top-bar {
  &-avatar {
    cursor: pointer;
    height: 100%;
    margin: 0 1rem 0 0.8rem;

    @include mq('small') {
      margin: 0 1rem;
    }

    .ne-avatar-content--medium {
      width: 2.4rem;
      height: 2.4rem;

      @include mq('small') {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0.1rem 0;
      }
    }

    &-no-avatar {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color);

      > svg {
        font-size: var(--fs-1100);
      }
    }

    &--empty img {
      visibility: hidden;
    }
  }
}
