@use '~@/styles/themes/functions' as cf;
@use '~@/styles/base/breakpoints' as *;

.top-bar {
  &-heading {
    font-family: 'Cantarell', sans-serif;
    font-size: var(--fs-500);
    margin: 0;
    margin-left: 1rem;
    font-weight: 900;
    cursor: pointer;

    color: var(--clr-actions-200);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .ne-typo {
      font: inherit;
      color: inherit;
    }
  }
}
