@use '~@/styles/themes/functions' as cf;
@use '~@/styles/base/breakpoints' as *;

.top-bar {
  width: 100%;
  height: 3rem;
  background-color: var(--clr-primary-1000);
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .hidden {
    display: none;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    max-width: 1400px;

    @media (min-width: 2240px) {
      max-width: 1920px;
    }

    @media (min-width: 3840px) {
      max-width: 2600px;
    }
  }

  &-heading {
    font-size: var(--fs-600);
    margin: 0;
    margin-left: 1rem;
    font-weight: 700;
    cursor: pointer;

    @warn 'TODO: update to var()';
    color: lighten(cf.get_color('actions', 300), 5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .ne-typo {
      font: inherit;
      color: inherit;
    }
  }

  &-left {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  &-right {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }

  .navigation-controlls {
    padding-left: 0.5rem;
  }

  @include mq('small') {
    @media (pointer: coarse) {
      background-color: var(--clr-primary-700);

      &-button {
        margin: 0 1rem;
      }
    }
  }
}
