@use '@/styles/themes/functions' as cf;
@use '@/styles/base/breakpoints' as *;

.top-bar {
  width: 100%;
  height: 2.5rem;
  background-color: var(--clr-primary-700);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;

  @include mq('small') {
    height: 4rem;
  }

  .main-chats-navigation {
    width: 100%;
    margin-left: 2rem;
    margin-top: 0.25rem;
    display: flex;
    gap: 2rem;

    .ne-typo-text {
      font-size: var(--fs-300);

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &--visible {
    display: flex;

    & ~ .page-root {
      margin-top: 2.5rem;
      @include mq('small') {
        margin-top: 4rem;
      }
    }
  }

  .hidden {
    display: none;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    max-width: 1400px;

    @media (min-width: 2240px) {
      max-width: 1920px;
    }

    @media (min-width: 3840px) {
      max-width: 2600px;
    }
  }

  &-left {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  &-right {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }

  .navigation-controlls {
    padding-left: 0.5rem;
  }

  @include mq('small') {
    @media (pointer: coarse) {
      background-color: var(--clr-primary-700);

      &-button {
        margin: 0 1rem;
      }
    }
  }
}

.desktop-1224 .top-bar-inner {
  max-width: 100%;
}
