@use '../breakpoints' as *;
@use 'variables' as *;
@forward 'variables';

@mixin typography-font-family {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  @each $size, $value in $font-sizes {
    --fs-#{$size}: #{$value};
  }
  --ff-primary: $font-family;
  font-size: 18px;
}

@media screen and (max-width: 375px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-width: 340px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 300px) {
  :root {
    font-size: 12px;
  }
}

@each $size, $value in $font-sizes {
  .fs-#{$size} {
    font-size: var(--fs-#{$size});
  }
}
