$font-sizes: (
  100: 0.6rem,
  150: 0.65rem,
  200: 0.7rem,
  250: 0.78rem,
  300: 0.8rem,
  400: 1rem,
  500: 1.1rem,
  600: 1.2rem,
  700: 1.4rem,
  800: 1.5rem,
  900: 1.6rem,
  1100: 2rem,
  1200: 2.5rem,
  1300: 3rem,
  1400: 4.5rem,
  1500: 8rem,
);

$font-scales: (
  normal: 18px,
  small: 16px,
  small-narrow: 14px,
  small-ultra-narrow: 12px,
);

$font-family: 'Roboto', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI',
  Arial, sans-serif;

@mixin typography-font-family {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
