@use '@/styles/themes/functions' as cf;

.navigation-controlls {
  vertical-align: middle;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-basic-500);
    border-radius: 4px;
    margin: 0 0.1rem 0 0;

    &--active {
      color: var(--clr-basic-300);
      cursor: pointer;

      &:hover {
        background-color: var(--clr-primary-700);
      }

      &:focus {
        color: lighten(cf.get_color('actions', 300), 10);
        background-color: var(--clr-primary-700);
      }
    }

    &--disabled {
      color: var(--clr-basic-500) !important;
      outline: none;
    }
  }
}
