.view-root.view-root--main.view-root--main-error {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 0;
  max-width: 1400px;
  min-height: 75vh;
  width: 100%;
  height: 100%;

  @media (max-width: 876px) {
    justify-content: flex-start;
    align-items: flex-end;
  }

  @media (min-width: 2240px) {
    max-width: 1920px;
  }

  @media (min-width: 3840px) {
    max-width: 2600px;
  }

  .ne-typo-text {
    font-size: inherit;
    font-weight: inherit;
  }

  .error-container {
    width: 50%;
    max-width: 800px;
    padding: 2rem 1rem;
    flex: 0 0 50%;

    @media (max-width: 876px) {
      flex: 0 0 100%;
    }
  }

  .error-img {
    max-width: calc(50% - 1rem);
    height: auto;
    margin: 2rem 0.5rem;
    flex: 0 0 50%;

    @media (max-width: 876px) {
      max-width: calc(100% - 1rem);
      flex: 0 0 100%;
    }
  }

  .error-desc {
    font-size: 1.4rem;
    line-height: unset;
  }
}
