.main-search-bar-suggestions {
  &-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;

    &-element {
      width: calc(100% - 0.4rem);
      cursor: pointer;
      margin: 0 0.2rem;

      > .ne-typo-text {
        display: block;
        padding: 0.4rem 0.6rem;
        text-decoration: none;
      }

      &:hover,
      &:focus-within,
      &:focus {
        background-color: var(--clr-primary-700);
      }
    }
  }
}
