@use '~@/styles/base/breakpoints' as *;

.top-bar {
  &-button {
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    @include mq('small') {
      margin-right: 1rem;
    }
  }
}
