@use '~@/styles/base/breakpoints' as *;

.top-bar {
  &-button {
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {
        font-size: var(--fs-600);

        @include mq('small') {
          font-size: var(--fs-800);
        }
      }
    }

    @include mq('small') {
      margin-right: 1rem;
    }
  }
}
