@use '~@/styles/themes/functions' as cf;
@use '~@/styles/base/breakpoints' as *;

.top-bar-button {
  .top-bar-notifications-drawer {
    z-index: 1;

    .ne-drawer-side {
      width: 25rem;
      max-width: 100vw;
      display: flex;
      flex-direction: column;
    }

    &-content {
      &-header {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 0.8rem 1rem 0 1rem;

        .top-bar-button-icon {
          color: var(--clr-basic-200);
          font-size: var(--fs-800);
          margin: 0 0 1rem 0;

          &:hover,
          &:focus {
            color: unset;
          }

          > svg {
            font: inherit;
          }

          @include mq('small') {
            margin: 0;
            margin-right: -0.2rem;
            justify-content: flex-end;
          }
        }

        > .ne-typo {
          color: var(--clr-basic-100);
          text-transform: capitalize;
          font-weight: 500;
          padding: 0;
          margin: 0;
        }

        @include mq('small') {
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          height: 3rem;
          padding: 0 1rem 0 1rem;

          ~ .top-bar-notifications-drawer-spacer {
            margin-top: 0;
          }
        }
      }
    }

    &-empty {
      padding: 1rem;
      display: flex;
      flex: 0 1 75%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: lighten(cf.get_color(primary, 1000), 3); // TODO: var()
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      > svg {
        font-size: var(--fs-1500);
        margin-bottom: 1rem;
      }

      .ne-typo-text {
        font-size: var(--fs-400);
        color: darken(cf.get_color('basic', 500), 15);
      }
    }

    &-bottom {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      display: block;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &-close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 1rem 0;
        cursor: pointer;
        color: var(--clr-basic-400);
        transition: all 0.2s;

        &:hover,
        &:active {
          color: var(--clr-actions-300);
        }

        > svg {
          font-size: var(--fs-1200);
        }
      }
    }

    &-spacer {
      margin: 1rem;
      width: auto;
      height: 2px;
      background-color: var(--clr-primary-600);
    }
  }
}

.top-bar-button .top-bar-notifications-drawer {
  .ne-drawer-mask {
    opacity: 0 !important;
    animation: none !important;
  }

  .ne-drawer-side {
    @include mq('small') {
      width: 100vw;
      height: 100%;
      max-height: 100%;
      max-width: 100vw;
      background-color: rgba(18, 19, 22, 0.85);
      backdrop-filter: blur(5px);

      transform: translateY(var(--pos)) !important;
    }

    @media (prefers-reduced-motion: reduce) {
      backdrop-filter: unset !important;
      animation-name: none !important;
      transition: none !important;
    }
  }
}
