.top-bar-button {
  .top-bar-notifications-drawer {
    z-index: 1;

    .ne-drawer-side {
      width: 25rem;
      max-width: 100vw;
      display: flex;
      flex-direction: column;
    }

    &-content {
      &-header {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 0.8rem 1rem 0 1rem;

        .top-bar-button-icon {
          font-size: 1.5rem;
          margin: 0 0 1rem 0;
          color: #ddd;

          &:hover,
          &:focus {
            color: unset;
          }

          > svg {
            font: inherit;
          }
        }
        > .ne-typo {
          color: #cacaca;
          text-transform: capitalize;
          font-weight: 500;
          padding: 0;
          margin: 0;
        }
      }
    }

    &-empty {
      padding: 1rem;
      display: flex;
      flex: 0 1 75%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: lighten(#202328, 3);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      > svg {
        font-size: 8rem;
        margin-bottom: 1rem;
      }

      .ne-typo-text {
        font-size: 1rem;
        color: darken(#808080, 15);
      }
    }

    &-bottom {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      display: block;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &-close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 1rem 0;
        cursor: pointer;
        color: gray;
        transition: all 0.2s;

        &:hover,
        &:active {
          color: #5ea8ed;
        }

        > svg {
          font-size: 2.5rem;
        }

        &-thumb {
          width: 2rem;
          height: 0.3rem;
          border-radius: 0.5rem;
          background-color: lighten(#202328, 10);
        }
      }
    }

    &-spacer {
      margin: 1rem;
      width: auto;
      height: 2px;
      background-color: #2b2f36;
    }
  }
}

.top-bar-button .top-bar-notifications-drawer {
  .ne-drawer-mask {
    opacity: 0 !important;
    animation: none !important;
  }
}

@media screen and (max-width: 768px) {
  .top-bar-button .top-bar-notifications-drawer-content-header {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 1rem 0 1rem;

    .top-bar-button-icon {
      margin: 0;
      margin-right: -0.2rem;
      justify-content: flex-end;
    }

    ~ .top-bar-notifications-drawer-spacer {
      margin-top: 0;
    }
  }
  .top-bar-button {
    .top-bar-notifications-drawer {
      .ne-drawer-side {
        width: 100vw;
        height: 100%;
        max-height: 100%;
        max-width: 100vw;
        background-color: rgba(32, 35, 40, 0.95);
        backdrop-filter: blur(5px);

        transform: translateY(var(--pos)) !important;
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .top-bar-button {
    .top-bar-notifications-drawer {
      .ne-drawer-side {
        backdrop-filter: unset !important;
        animation-name: none !important;
        transition: none !important;
      }
    }
  }
}
