.top-bar {
  &-button {
    color: var(--clr-actions-300);
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-700);

    > svg {
      font-size: inherit;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
