$breakpoints: (
  small-ultra-narrow: 300px,
  small-narrow: 320px,
  small: 768px,
  small-medium: 1224px,
  medium: 1440px,
  large: 1920px,
  extra-large: 3840px,
);

@mixin mq($key) {
  $size: $key;

  @if type-of($key) == 'string' {
    $size: map-get($breakpoints, $key);
  }

  @media only screen and (max-width: $size) {
    @content;
  }
}
