.user-profile {
  &-avatar {
    box-shadow: 0 0 5px 0 transparentize(#000, 0.95);
    margin-top: -4rem;
    border-radius: 50%;
    user-select: none;
    position: relative;
    overflow: hidden;

    .ne-avatar-content--extra-large {
      width: 8rem;
      height: 8rem;
    }

    &--empty img {
      visibility: hidden;
    }

    &-no-avatar {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color);

      > svg {
        font-size: var(--fs-1500);
      }
    }

    &-edit {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--clr-basic-300);
      transition: opacity 0.1s;
      opacity: 0;

      > svg {
        font-size: var(--fs-1300);
      }
    }

    &:hover &-edit {
      opacity: 1;
    }
  }
}

.modal-fullpage-image-preview {
  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s, transform 0.1s;
    transform: scale(1.1);

    &--visible {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.2s, transform 0.2s;
      transform: scale(1);
    }

    .user-profile-avatar {
      border-radius: unset;

      & .ne-avatar-content--extra-large {
        width: 20rem;
        max-width: 95vw;
        height: auto;
      }
    }
  }
}
